/* ===== aboutme.css ===== */

.background {
  background-color: rgb(30, 30, 30);
  color: white;
}

#aboutme-wrapper {
  padding-top: 80px;
  min-height: 100vh;
}

#aboutme-wrapper .link {
  font-weight: bold;
}

#profile-img {
  max-width: 500px;
}
