/* ===== curvedHeader.css ===== */

section.curvedHeader {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section.curvedHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0026ff, #00c4c4, #00ff00);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.8);
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  section.curvedHeader::before {
    transform: scaleX(3);
    transition: 1s;
  }
}

section.curvedHeader .content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

section.curvedHeader .content h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 3em;
}

section.curvedHeader .content p {
  color: #fff;
  font-size: 1.2em;
  margin-top: 20px;
}
