/* ===== footer.module.css ===== */

.footer {
  background-color: rgb(20, 20, 20);
  min-height: 250px;
  padding-top: 20px;
  padding-bottom: 70px;
  color: white;
  text-align: left;
}

.contactIcon {
  max-height: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

.contactIcon:hover {
  box-shadow: 0px 0px 15px white;
  background-color: white;
}

.email {
  border-radius: 6px;
}

.link {
  color: yellow;
  transition: 0.5s;
}

.link:hover {
  color: rgb(71, 171, 253);
  transition: 0.5s;
}
