/* navBar.css */

nav {
  background: rgba(0, 0, 0, 0);
  transition: 1s;
  min-height: 1rem;
}

nav.navBg {
  background: rgba(0, 0, 0, 0.8);
}

nav img.logo {
  max-height: 40px;
}

.navLink {
  color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.navLink:hover {
  text-decoration: none;
  background-color: rgba(0, 140, 255, 0.6);
  color: white;
}

.navLink.dropdown-toggle,
.navLink.dropdown-toggle:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  nav {
    background: rgba(0, 0, 0, 0.8);
  }
}
